/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans";
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
/* *{
    margin: 0;
    padding: 0;
} */
.display-flex{
    display: flex;
}

/* color */

.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.10);
}

.btn-primary{
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar */

.navbar{
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 150px; */
}

.menu-items{
    list-style: none;
    margin-right: 24px;

}

.menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* banner style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 24px;
}

.banner-txt{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.banner img{
    width: 100%;
    margin-bottom: 20px;
}

/* hero section */

.hero-section{
    margin-top: 80px;
    align-items: center;
}

.hero-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.hero-features{
    margin-left: 130px;
    max-width: 530px;
}

.hero-features h3{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;
}

#features{
    color: #FF900E;
}


/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .menu{
        flex-direction: column;
    }
}