/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans";
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}

/* color */

.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}

.dark-03{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.10);
}

.btn-primary{
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.menu-items{
    list-style: none;
    margin-right: 24px;

}

.menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* banner style */
/* 
.banner{
    margin: 0 auto;
} */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 50px; */
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 24px;
}

.banner-txt{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.banner img{
    width: 100%;
    margin: 45px auto;
}

/* hero section */

.hero-section{
    margin-top: 80px;
    margin-bottom: 130px;
    align-items: center;
}

.hero-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.hero-features{
    margin-left: 130px;
    max-width: 530px;
}

.hero-features h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#quick-list{
    font-weight: 500;
}

#features{
    color: #FF900E;
}

.hero-features p{
    margin-bottom: 32px;
}

/* some fact section */

.some-facts h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.some-facts> p{
    max-width: 542px;
    margin-bottom: 100px;
}

.some-facts{
    max-width: 1390px;
    margin-bottom: 150px;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    gap: 124px;
    padding: 0 50px;
}

.card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.card h4{
    font-size: 2.8rem;
    font-weight: 700;
}

.card p{
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsors */
.sponsors{
    margin-bottom: 130px;

}
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-company{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 0 auto;
    filter: grayscale(100%);
}

/* footer */
footer{
    margin: 20px;
}
.copyright{
    max-width: 1440px;
    background-color: #FFF4E7;
    margin: 0 auto;
    text-align: center;
    padding: 30px 100px;
    margin-bottom: 130px;
    font-size: 16px;
}

/* responsive media query */

/* for mobile devices */
@media screen and (max-width: 576px) {
    .navbar, .menu{
        flex-direction: column;
    }

    .hero-section{
        flex-direction: column;
    }

    .hero-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-features{
        margin-left: 20px;
        margin-top: 24px;
    }

    .some-facts{
        margin: 20px;
    }

    .card-section{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: 0;
        gap: 32px;
    }

    .sponsors-company{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sponsors-info{
        margin: 50px auto;
        padding: 10px;
    }

    .copyright{
        padding: 30px 20px;
    }


}

/* for tables */

@media screen and (min-width:576px) and (max-width: 996px) {

    .navbar{
        padding: 50px 24px;
    }

    .hero-img-container img{
        width: 100%;
    }

    /* .hero-img-container{
        padding: 20px;
    } */
    .hero-section{
        flex-direction: column;
        align-items: center;
    }
    .hero-features{
        margin: 28px auto;

    }
    .some-facts{
        margin: 20px;
    }
    .card-section{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 0;
        gap: 32px;
    }

    .sponsors-company{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}